:root{
    --bacground-color:#120c1c;
    --background-hover-color:#211632;
    --prime-color:#221735;
    --dark-prime-color:#1b112c;
    --dark-hover-prime-color:#2E1F49;
    --secondary-color:#7f5fb9;
    --bright-color:#bdaddb;
    --text-color:#fcfbfd;
}
body {
   margin: 0;
   padding: 0 20px;
   color: var(--text-color);
   background: var(--bacground-color);
}
#timeline {
   list-style: none;
   width: 100%;
   height: 200px;
   margin: 200px 0 0;
   border-top: 50px solid var(--prime-color);
   display: table;
   border-spacing: 30px 0;
}
#timeline li{
     display: table-cell;
     position: relative;
     min-width: 10px;
}
.first{
   width: 10px;
}
.crossline {
   margin: 0 auto;
   top: -50px;
   left: 0;
   right: 0;
   width: 3px;
   height: 50px;
   background: var(--secondary-color);
   display: block;
   position: absolute;
}
.content {
   text-align: center;
   position: relative;
}
.avatar {
   width: fit-content;
   height: 30px;
   border-bottom: 3px solid var(--secondary-color);
   position: absolute;
   margin: 0 auto;
   white-space: nowrap;
   line-height: 30px;
   background: #120c1c;
   text-align: left;
}
.content:before {
   content: '';
   width: 50px;
   height: 100px;
   margin-left: -2px;
   position: relative;
   display: inline-block;
}
li.down {
   .content:before {
    border-left: 2.8px solid var(--secondary-color);
    transform-origin: top left;
    transform: rotate(-30deg);
    left: 25.7px;
    z-index: -1;
   }
   .avatar {
    margin-top: 103.9px;
    margin-left: 49.9px;
    z-index: -2;
   }
}
li.up {
   .content:before {
    top: -150px;
    left: 26px;
    transform-origin: bottom left;
    transform: rotate(30deg);
    border-left: 3px solid var(--secondary-color);
   }
   .avatar {
    margin-top: -116.6px;
    margin-left: 50.2px;
    background: var(--bacground-color);
    z-index: -2;
   }
}
.next-slide, .prev-slide{
   height: 50px;
   width: 20px;
   top: -100px;
   position: relative;
   background: var(--dark-prime-color);
   line-height: 30px;
}
.next-slide{
   right: -50px;
   border-radius: 3px 0 0 3px;
}
.prev-slide{
   right: 70px;
   border-radius: 0 3px 3px 0;
}
.next-slide:hover, .prev-slide:hover{
   background: var(--dark-hover-prime-color);
}
.next-slide:hover .triangle-next{
   border-color: transparent transparent transparent var(--background-hover-color);
}
.prev-slide:hover .triangle-prev{
   border-color: transparent var(--background-hover-color) transparent transparent;
}
.triangle-next, .triangle-prev{
   width: 0;
   height: 0;
   margin: 0 auto;
   position: relative;
   top: 13px;
   border-style: solid;
}
.triangle-next{
   border-width: 10px 0 10px 10px;
   border-color: transparent transparent transparent var(--bacground-color);
}
.triangle-prev{
   border-width: 10px 10px 10px 0;
   border-color: transparent var(--bacground-color) transparent transparent;
}